.body-carrito{
    min-height: 70vh;
}
.titulo-carrito{
    margin: 0;
    height: 100%;
    background-color: #f69e51;
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4rem;
    font-weight: 600;
}
.contenedor-prod-carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}
.carritoVacio {
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    background-color: #D98B48;
    width: 67rem;
    border-radius: .5rem;
    font-size: 3.5rem;
    margin: 2rem auto 0 auto;
    padding: .5rem 1rem;
    list-style: none;
    color: black;
    text-decoration: none;
}
.carritoVacio:hover {
    transition: all .5s ease;
    background-color: #f69e51;
    color: black;
}
.nombre-item{
    grid-column: 1/5;
    grid-row: 1/2;
    padding-left: 1rem;
    font-size: 3rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1.5rem;
}
.foto-producto{
    grid-column: 5/6;
    grid-row: 1/2;
    height: 4rem;
    width: 100%;
    object-fit: cover;
}
.filas-tabla{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}
.listas-carrito-1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    justify-content: space-evenly;
    height: 4rem;
    margin: auto 0;
    grid-column: 1/2;
    grid-row: auto;
    border-right: black 1px solid;
    border-left: black 1px solid;
    border-bottom: black 1px solid;
    border-top: black 1px solid;
}
.listas-carrito-2 {
    height: 4rem;
    margin: auto 0;
    text-align: center;
    grid-column: 2/3;
    grid-row: auto;
    font-size: 3rem;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    border-top: black 1px solid;
}
.listas-carrito-3 {
    height: 4rem;
    margin: auto 0;
    text-align: center;
    grid-column: 3/4;
    grid-row: auto;
    font-size: 3rem;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    border-top: black 1px solid;
}
.listas-carrito-4 {
    height: 4rem;
    margin: auto 0;
    text-align: center;
    grid-column: 4/5;
    grid-row: auto;
    font-size: 3rem;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    border-top: black 1px solid;
}
.titulos-carrito-1{
    text-align: center;
    grid-column: 1/2;
    grid-row: auto;
    font-size: 3.3rem;
    font-weight: 600;
    border-top: black 2px solid;
    border-right: black 2px solid;
    border-left: black 2px solid;
    border-bottom: black 1px solid;
}
.titulos-carrito-2 {
    text-align: center;
    grid-column: 2/3;
    grid-row: auto;
    font-size: 3.3rem;
    font-weight: 600;
    border-top: black 2px solid;
    border-right: black 2px solid;
    border-bottom: black 1px solid;
}
.titulos-carrito-3 {
    text-align: center;
    grid-column: 3/4;
    grid-row: auto;
    font-size: 3.3rem;
    font-weight: 600;
    border-top: black 2px solid;
    border-right: black 2px solid;
    border-bottom: black 1px solid;
}
.titulos-carrito-4 {
    text-align: center;
    grid-column: 4/5;
    grid-row: auto;
    font-size: 3.3rem;
    font-weight: 600;
    border-top: black 2px solid;
    border-right: black 2px solid;
    border-bottom: black 1px solid;
}
.contenedorCierre{
    display: flex;
    justify-content: center;
}
.total{
    display: flex;
    margin: auto;
    width: auto;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem;
}
.boton-eliminar{
    display: flex;
    margin: auto;
    width: auto;
    background-color: #bd4f31;
}
.texto-eliminar{
    font-size: 3rem;
    font-weight: 500;
    margin: auto;
    color: white;
    padding: 1rem;
}
.boton-eliminar-producto{
    border: none;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    background-color: #f69e51;
}