.footer{
    border-top: 1px solid #D98B48;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
.listas-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.lista-footer{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 3.3rem;
    margin: auto 2.5rem;
}
.lista-footer:hover{
    color: #D98B48;
    transform: translateX(.5px);
    transition: all .5s ease;
}
.copyright{
    display: flex;
    font-size: 2rem;
}
.foto-copyright{
    height: 1.8rem;
    width: 1.8rem;
    align-self: center;
    margin-left: .5rem;
}

/*CEL*/
@media screen and (max-width: 361px) {
    .listas-footer {
        margin-top: 1rem;
    }
    .lista-footer {
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-size: 1.8rem;
        margin: auto 1.3rem;
    }
    .copyright {
        display: flex;
        font-size: 1.3rem;
    }
    .foto-copyright {
        height: 1.5rem;
        width: 1.5rem;
        align-self: center;
        margin-left: .5rem;
    }
}

/*SMART*/
@media screen and (max-width: 450px) and (min-width: 361px) {
    .listas-footer {
        margin-top: 1rem;
    }
    .lista-footer {
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-size: 2.5rem;
        margin: auto 1.4rem;
    }
    .copyright {
        display: flex;
        font-size: 2rem;
    }
    .foto-copyright {
        height: 1.8rem;
        width: 1.8rem;
        align-self: center;
        margin-left: .5rem;
    }
}

/*TABLET*/
@media screen and (max-width: 687px) and (min-width: 450px) {
    .listas-footer {
        margin-top: 1rem;
    }
    .lista-footer {
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-size: 2.7rem;
        margin: auto 2.1rem;
    }
    .copyright {
        display: flex;
        font-size: 2rem;
    }
    .foto-copyright {
        height: 1.8rem;
        width: 1.8rem;
        align-self: center;
        margin-left: .5rem;
    }
}

/*TABLET XL*/
@media screen and (min-width: 687px) and (max-width: 900px) {
    .listas-footer {
        margin-top: 1rem;
    }
    .lista-footer {
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-size: 3rem;
        margin: auto 2.3rem;
    }
    .copyright {
        display: flex;
        font-size: 2rem;
    }
    .foto-copyright {
        height: 1.8rem;
        width: 1.8rem;
        align-self: center;
        margin-left: .5rem;
    }
}

/*DESKTOP*/
@media screen and (min-width: 900px) and (max-width: 1110px) {
    .listas-footer {
        margin-top: 1.5rem;
    }
    .lista-footer {
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-size: 3.1rem;
        margin: auto 2.4rem;
    }
    .copyright {
        display: flex;
        font-size: 2rem;
    }
    .foto-copyright {
        height: 1.8rem;
        width: 1.8rem;
        align-self: center;
        margin-left: .5rem;
    }
}

/* WIDE */
@media screen and (min-width: 1110px) and (max-width: 1350px) {
    .lista-footer {
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-size: 3.2rem;
        margin: auto 2.4rem;
    }
    .copyright {
        display: flex;
        font-size: 2rem;
    }
    .foto-copyright {
        height: 1.8rem;
        width: 1.8rem;
        align-self: center;
        margin-left: .5rem;
    }
}