.footer{
    border-top: 1px solid #D98B48;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
.listas-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.lista-footer{
    cursor: pointer;
    font-size: 3rem;
    margin: auto 2.5rem;
}
.lista-footer:hover{
    color: #D98B48;
    transform: translateX(.5px);
    transition: all .5s ease;
}
.copyright{
    display: flex;
    font-size: 2rem;
}
.foto-copyright{
    height: 1.8rem;
    width: 1.8rem;
    align-self: center;
    margin-left: .5rem;
}