.contenedor-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inputs{
    padding: .3rem;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    height: 5rem;
    width: 67vw;
    font-size: 4rem;
    font-weight: 400;
}
.botonEnviar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40vw;
    height: 5rem;
    font-size: 4rem;
    font-weight: 400;
}
.titulo-formulario{
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
}