@keyframes fadein{
    0% {
            opacity: 1;
            z-index: 100;
        }
    100% {
            opacity: 0;
            z-index: -1;
        }
}
.contenedor-hero{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.video-inicio{
    animation-name: fadein;
    animation-duration: 4s;
    animation-iteration-count: 1;
    opacity: 0;
    position: fixed;
    object-fit: cover;
    touch-action: 0;
    width: 100vw;
    min-height: 100vh;
    z-index: -1;
}
.titulo-home {
    margin: 0;
    height: 100%;
    background-color: #f69e51;
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4.5rem;
    font-weight: 500;
}
.hero{
    margin-bottom: 0;
    border-bottom: 1px white solid;
    display: grid;
    height: 75%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.foto-hero{
    grid-column: 1/6;
    grid-row: 1/4;
    z-index: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
}
/*LINEAS*/
.linea1 {
    height: 100%;
    width: .3rem;
    border-width: 0;
    color: white;
    background-color: white;
    margin: auto auto 0 auto;
    height: 50%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.linea2 {
    height: .3rem;
    width: 50%;
    color: white;
    background-color: white;
    margin: auto 0 auto auto;
    grid-column: 1/2;
    grid-row: 1/2;
}
.linea3 {
    height: .3rem;
    width: 100%;
    z-index: 1;
    color: white;
    background-color: white;
    margin: auto 0 auto auto;
    grid-column: 2/5;
    grid-row: 1/2;
}
.linea4 {
    height: .3rem;
    width: 50%;
    color: white;
    background-color: white;
    margin: auto auto auto 0;
    grid-column: 5/6;
    grid-row: 1/2;
}
.linea5 {
    height: 100%;
    width: .3rem;
    border-width: 0;
    color: white;
    background-color: white;
    margin: auto auto 0 auto;
    height: 50%;
    grid-column: 5/6;
    grid-row: 1/2;
}
.linea6 {
    height: 100%;
    width: .3rem;
    border-width: 0;
    color: white;
    background-color: white;
    margin: 0 auto auto auto;
    height: 50%;
    grid-column: 1/2;
    grid-row: 3/4;
}
.linea7 {
    height: .3rem;
    width: 50%;
    color: white;
    background-color: white;
    margin: auto 0 auto auto;
    grid-column: 1/2;
    grid-row: 3/4;
}
.linea8 {
    height: .3rem;
    width: 100%;
    z-index: 1;
    color: white;
    background-color: white;
    margin: auto 0 auto auto;
    grid-column: 2/5;
    grid-row: 3/4;
}
.linea9 {
    height: .3rem;
    width: 50%;
    color: white;
    background-color: white;;
    margin: auto auto auto 0;
    grid-column: 5/6;
    grid-row: 3/4;
}
.linea10 {
    height: 100%;
    width: .3rem;
    border-width: 0;
    color: white;
    background-color: white;
    margin: 0 auto auto auto;
    height: 50%;
    grid-column: 5/6;
    grid-row: 3/4;
}
/*IMAGENES*/
.imagen-1 {
    filter: brightness(80%);
    padding-top: 1rem;
    border: .1rem solid grey;
    z-index: 2;
    height: 100%;
    width: 100%;
    grid-column: 3/4;
    grid-row: 1/2;
    object-fit: cover;
}
.imagen-2 {
    filter: brightness(80%);
    padding-left: 1rem;
    border: .1rem solid grey;
    z-index: 2;
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    object-fit: cover;
}
.imagen-3 {
    filter: brightness(80%);
    padding-right: 1rem;
    border: .1rem solid grey;
    z-index: 2;
    height: 100%;
    width: 100%;
    grid-column: 5/6;
    grid-row: 2/3;
    object-fit: cover;
}
.imagen-4 {
    filter: brightness(80%);
    padding-bottom: 1rem;
    border: .1rem solid grey;
    z-index: 2;
    height: 100%;
    width: 100%;
    grid-column: 3/4;
    grid-row: 3/4;
    object-fit: cover;
}
.textos{
    display: flex;
    flex-direction: column;
    grid-column: 2/5;
    grid-row: 2/3;
    padding: 2rem;
}
.titulo-hero{
    z-index: 1;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
}
.parrafo-hero {
    z-index: 1;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}
.contenedor-titulo-productos{
    display: flex;
    margin-bottom: 4rem;
    width: 100%;
    align-items: center;
}
.titulo-productos{
    height: 100%;
    background-color: #f69e51;
    font-size: 4rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
    margin-top: 0;
    margin-bottom: 4rem;
}
.categorias-home {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    margin-bottom: 5rem;
}
.listas-categorias-home {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 3.3rem;
    font-weight: 400;
}
.listas-categorias-home:hover {
    color: #D98B48;
    transform: translateX(.5px);
    transition: all .5s ease;
}
.contenedor-iframe{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}
.titulo-iframe{
    height: 100%;
    background-color: #f69e51;
    font-size: 4rem;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 0;
    margin-bottom: 4rem;
}
iframe{
    display: flex;
    margin: auto;
    width: 65%;
    height: 50rem;
}

/*CEL*/
@media screen and (max-width: 361px) {
    .titulo-home {
        padding-top: .7rem;
        padding-bottom: .7rem;
        font-size: 2.7rem;
    }
    .textos {
        padding: 1rem;
    }
    .titulo-hero {
        font-size: 2.7rem;
    }
    .parrafo-hero {
        display: none;
    }
    .contenedor-titulo-productos {
        margin-bottom: 1rem;
    }
    .titulo-productos {
        font-size: 2.4rem;
        padding-top: .7rem;
        padding-bottom: .7rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .titulo-iframe {
        font-size: 2.4rem;
        padding-top: .7rem;
        padding-bottom: .7rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .categorias-home {
        gap: 1rem;
        margin-bottom: 1rem;
    }
    .listas-categorias-home {
        font-size: 2rem;
    }
    .contenedor-iframe {
        margin-bottom: 1rem;
    }
    iframe {
        width: 100%;
        height: 50rem;
    }
    .hero {
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(3, 1fr);
        height: 50vh;
    }
    .imagen-1 {
        padding-top: 0;
    }
    .imagen-2 {
        padding-left: 0;
    }
    .imagen-3 {
        padding-right: 0;
    }
    .imagen-4 {
        padding-bottom: 0;
    }
}

/*SMART*/
@media screen and (max-width: 450px) and (min-width: 361px) {
    .titulo-home {
        padding-top: .7rem;
        padding-bottom: .7rem;
        font-size: 3rem;
    }
    .textos {
        padding: 1rem;
    }
    .titulo-hero {
        font-size: 2.7rem;
    }
    .parrafo-hero {
        display: none;
    }
    .contenedor-titulo-productos {
        margin-bottom: 3rem;
    }
    .titulo-productos {
        font-size: 2.9rem;
        padding-top: .7rem;
        padding-bottom: .7rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .titulo-iframe {
        font-size: 2.9rem;
        padding-top: .7rem;
        padding-bottom: .7rem;
        margin-top: 0;
        margin-bottom: 2.5rem;
    }
    .categorias-home {
        gap: 2.1rem;
        margin-bottom: 2rem;
    }
    .listas-categorias-home {
        font-size: 2.3rem;
    }
    .contenedor-iframe {
        margin-bottom: 2rem;
    }
    iframe {
        width: 100%;
        height: 50rem;
    }
    .hero {
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(3, 1fr);
        height: 50vh;
    }
    .imagen-1 {
        padding-top: 0;
    }
    .imagen-2 {
        padding-left: 0;
    }
    .imagen-3 {
        padding-right: 0;
    }
    .imagen-4 {
        padding-bottom: 0;
    }
}

/*TABLET*/
@media screen and (max-width: 687px) and (min-width: 450px) {
    .titulo-home {
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        font-size: 3.7rem;
    }
    .textos {
        padding: 1rem;
    }
    .titulo-hero {
        font-size: 3.1rem;
    }
    .parrafo-hero {
        display: none;
    }
    .contenedor-titulo-productos {
        margin-bottom: 3rem;
    }
    .titulo-productos {
        font-size: 3.5rem;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        margin-top: 0;
        margin-bottom: 3rem;
    }
    .titulo-iframe {
        font-size: 3.5rem;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        margin-top: 0;
        margin-bottom: 4rem;
    }
    .categorias-home {
        gap: 2.7rem;
        margin-bottom: 3rem;
    }
    .listas-categorias-home {
        font-size: 2.7rem;
    }
    .contenedor-iframe {
        margin-bottom: 3rem;
    }
    iframe {
        width: 85%;
        height: 50rem;
    }
    .hero {
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(3, 1fr);
        height: 60vh;
    }
    .imagen-1 {
        padding-top: 0;
    }
    .imagen-2 {
        padding-left: 0;
    }
    .imagen-3 {
        padding-right: 0;
    }
    .imagen-4 {
        padding-bottom: 0;
    }
}

/*TABLET XL*/
@media screen and (min-width: 687px) and (max-width: 900px) {
    .titulo-home {
        padding-top: 2.3rem;
        padding-bottom: 2.3rem;
        font-size: 3.7rem;
    }
    .textos {
        padding: 1.7rem;
    }
    .titulo-hero {
        font-size: 3.1rem;
    }
    .parrafo-hero {
        font-size: 2.1rem;
    }
    .contenedor-titulo-productos {
        margin-bottom: 3rem;
    }
    .titulo-productos {
        font-size: 3.3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 0;
        margin-bottom: 3rem;
    }
    .titulo-iframe {
        font-size: 3.3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 0;
        margin-bottom: 4rem;
    }
    .categorias-home {
        gap: 3.7rem;
        margin-bottom: 3rem;
    }
    .listas-categorias-home {
        font-size: 3.1rem;
    }
    .contenedor-iframe {
        margin-bottom: 3rem;
    }
    .hero {
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(3, 1fr);
    }
    .imagen-1 {
        padding-top: 0;
    }
    .imagen-2 {
        padding-left: 0;
    }
    .imagen-3 {
        padding-right: 0;
    }
    .imagen-4 {
        padding-bottom: 0;
    }
}

/*DESKTOP*/
@media screen and (min-width: 900px) and (max-width: 1110px) {
    .titulo-home {
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 4.3rem;
    }
    .textos {
        padding: 1.7rem;
    }
    .titulo-hero {
        font-size: 3.4rem;
    }
    .parrafo-hero {
        font-size: 2.4rem;
    }
    .contenedor-titulo-productos {
        margin-bottom: 3.4rem;
    }
    .titulo-productos {
        font-size: 3.7rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-top: 0;
        margin-bottom: 4rem;
    }
    .titulo-iframe {
        font-size: 3.7rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-top: 0;
        margin-bottom: 4rem;
    }
    .categorias-home {
        gap: 4rem;
        margin-bottom: 5rem;
    }
    .listas-categorias-home {
        font-size: 3.1rem;
    }
    .contenedor-iframe {
        margin-bottom: 3rem;
    }
}

/* WIDE */
@media screen and (min-width: 1110px) and (max-width: 1350px) {
    .titulo-home {
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 4.3rem;
    }
    .textos {
        padding: 1.7rem;
    }
    .titulo-hero {
        font-size: 3.7rem;
    }
    .parrafo-hero {
        font-size: 2.7rem;
    }
    .contenedor-titulo-productos {
        margin-bottom: 3.7rem;
    }
    .titulo-productos {
        font-size: 4rem;
        padding-top: 4rem;
        padding-bottom: 3rem;
        margin-top: 0;
        margin-bottom: 4rem;
    }
    .titulo-iframe {
        font-size: 4rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-top: 0;
        margin-bottom: 4rem;
    }
    .categorias-home {
        gap: 4rem;
        margin-bottom: 5rem;
    }
    .listas-categorias-home {
        font-size: 3.1rem;
    }
    .contenedor-iframe {
        margin-bottom: 3rem;
    }
}