.cantidades {
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: 20rem;
    margin: auto;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.contenedor-detalles{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.detalles{
    padding: 1rem;
    grid-column: 1/6;
    width: 100%;
    grid-row: 5/6;
    background-color: #D98B48;
    text-align: center;
    z-index: 1;
    font-size: 2.7rem;
    font-weight: 400;
    margin: auto auto 0 auto;
    color: white;
    opacity: 0;
}
.detalles:hover{
    z-index: 2;
    opacity: 1;
    transition: opacity 1s ease;
}
.imagen-producto-detail {
    grid-column: 1/6;
    grid-row: 1/6;
    cursor: pointer;
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: .6rem;
}
.imagen-producto-detail:hover {
    transition: transform .6s ease;
    transform: scale(1.01);
}
.terminarCompra{
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #D98B48;
    width: 67vw;
    border-radius: .5rem;
    font-size: 3.5rem;
    margin: auto 2rem;
    margin-bottom: 3rem;
    padding: .5rem 1rem;
    list-style: none;
    color: black;
    text-decoration: none;
}
.terminarCompra:hover {
    transition: all .5s ease;
    background-color: #f69e51;
    color: black;
}
.boton-agregar-detail {
    color: black;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    width: 67vw;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid white;
    background-color: #D98B48;
    cursor: pointer;
    margin-bottom: 3rem;
    margin-top: 1rem;
    text-decoration: none;
}
.boton-agregar-detail:hover {
    color: black;
    transition: all .5s ease;
    background-color: #f69e51;
}
.contenedor-numero {
    display: flex;
    align-items: center;
    margin: 0;
}
.numero-cantidades {
    font-size: 3rem;
    margin: auto;
}
.signo-menos {
    cursor: pointer;
    font-weight: 800;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    border: 1px solid black;
    font-size: 2rem;
    margin-right: 2rem;
    text-align: center;
}
.signo-menos:hover {
    transition: all .3s ease;
    background-color: #89D9D9;
}
.signo-mas {
    cursor: pointer;
    font-weight: 800;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    border: 1px solid black;
    font-size: 2.5rem;
    margin-left: 2rem;
    text-align: center;
}
.signo-mas:hover {
    transition: all .3s ease;
    background-color: #89D9D9;
}
.boton-detalles {
    color: black;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid white;
    background-color: #D98B48;
    cursor: pointer;
    margin-bottom: 3rem;
    margin-top: 1rem;
    text-decoration: none;
}
.boton-detalles:hover {
    color: black;
    transition: all .5s ease;
    background-color: #f69e51;
}
.producto-detail {
    margin: auto;
    display: flex;
    width: 50vw;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
}
.datos-producto-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nombre-producto-detail {
    font-size: 3.5rem;
    font-weight: 500;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
}
.precio-producto-detail {
    font-size: 3rem;
    font-weight: 300;
    margin: auto;
    margin-top: .5rem;
}

/*CEL*/
@media screen and (max-width: 361px) {
    .cantidades {
        margin-top: .5rem;
        margin-bottom: .5rem;
        width: 20rem;
        gap: 1.7rem;
    }
    .detalles{
        display: none;
    }
    .terminarCompra {
        width: 75vw;
        font-size: 2.5rem;
        margin: auto 1rem;
        padding: .7rem;
    }
    .boton-agregar-detail {
        font-size: 2.3rem;
        width: 75vw;
        padding: .5rem;
        margin-bottom: 3rem;
        margin-top: .3rem;
    }
    .numero-cantidades {
        font-size: 2.3rem;
    }
    .signo-menos {
        height: 3.4rem;
        width: 3.4rem;
        font-size: 2.3rem;
        margin-right: 0;
    }
    .signo-mas {
        height: 3.4rem;
        width: 3.4rem;
        font-size: 2.3rem;
        margin-left: 0;
    }
    .boton-detalles {
        font-size: 2.4rem;
        width: 100%;
        padding: 1rem;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    .producto-detail {
        width: 75vw;
        margin-top: 2.4rem;
    }
    .nombre-producto-detail {
        font-size: 2.2rem;
    }
    .precio-producto-detail {
        margin-top: 0;
        font-size: 2rem;
    }
}

/*SMART*/
@media screen and (max-width: 450px) and (min-width: 361px) {
    .cantidades {
        margin-top: .5rem;
        margin-bottom: .5rem;
        width: 20rem;
        gap: 2rem;
    }
    .detalles {
        display: none;
    }
    .terminarCompra {
        width: 75vw;
        font-size: 2.7rem;
        margin: auto 1rem;
        padding: 1rem;
    }
    .boton-agregar-detail {
        font-size: 2.5rem;
        width: 70vw;
        padding: .5rem;
        margin-top: .5rem;
    }
    .numero-cantidades {
        font-size: 2.4rem;
    }
    .signo-menos {
        height: 3.4rem;
        width: 3.4rem;
        font-size: 2.3rem;
        margin-right: 0;
    }
    .signo-mas {
        height: 3.4rem;
        width: 3.4rem;
        font-size: 2.3rem;
        margin-left: 0;
    }
    .boton-detalles {
        font-size: 2.7rem;
        width: 100%;
        padding: 1rem;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    .producto-detail {
        width: 70vw;
        margin-top: 3rem;
    }
    .nombre-producto-detail {
        font-size: 2.4rem;
    }
    .precio-producto-detail {
        margin-top: 0;
        font-size: 2rem;
    }
}

/*TABLET*/
@media screen and (max-width: 687px) and (min-width: 450px) {
    .cantidades {
        margin-top: .5rem;
        margin-bottom: .5rem;
        width: 20rem;
        gap: 2.3rem;
    }
    .detalles {
        font-size: 2.5rem;
    }
    .terminarCompra {
        width: 75vw;
        font-size: 2.7rem;
        margin: auto 1rem;
        padding: 1rem;
    }
    .boton-agregar-detail {
        font-size: 2.7rem;
        width: 75vw;
        padding: 1rem;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    .numero-cantidades {
        font-size: 2.4rem;
    }
    .signo-menos {
        height: 3.4rem;
        width: 3.4rem;
        font-size: 2.3rem;
        margin-right: 2rem;
    }
    .signo-mas {
        height: 3.4rem;
        width: 3.4rem;
        font-size: 2.3rem;
        margin-left: 2rem;
    }
    .boton-detalles {
        font-size: 2.7rem;
        width: 100%;
        padding: 1rem;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    .producto-detail {
        width: 75vw;
        margin-top: 3rem;
    }
    .nombre-producto-detail {
        font-size: 2.5rem;
    }
    .precio-producto-detail {
        font-size: 2rem;
    }
}

/*TABLET XL*/
@media screen and (min-width: 687px) and (max-width: 900px) {
    .cantidades {
        margin-top: .5rem;
        margin-bottom: .5rem;
        width: 20rem;
        gap: 3rem;
    }
    .detalles {
        font-size: 2.7rem;
    }
    .terminarCompra {
        width: 75vw;
        font-size: 3rem;
        margin: auto 1rem;
        padding: 1rem;
    }
    .boton-agregar-detail {
        font-size: 3rem;
        width: 75vw;
        padding: 1rem;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    .numero-cantidades {
        font-size: 2.7rem;
    }
    .signo-menos {
        height: 3.7rem;
        width: 3.7rem;
        font-size: 2.5rem;
        margin-right: 2rem;
    }
    .signo-mas {
        height: 3.7rem;
        width: 3.7rem;
        font-size: 2.5rem;
        margin-left: 2rem;
    }
    .boton-detalles {
        font-size: 3rem;
        width: 100%;
        padding: 1rem;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    .producto-detail {
        width: 75vw;
        margin-top: 4rem;
    }
    .nombre-producto-detail {
        font-size: 3rem;
    }
    .precio-producto-detail {
        font-size: 2.7rem;
    }
}
@media screen and (min-width: 901px) and (max-width: 1110px) {
    .producto-detail{
        width: 70vw;
    }
    .detalles {
        font-size: 2.5rem;
    }
    .boton-agregar-detail {
        width: 70vw;
    }
}
@media screen and (min-width: 1111px) and (max-width: 1350px) {
    .producto-detail {
        width: 60vw;
    }
    .detalles {
        font-size: 2.7rem;
    }
    .boton-agregar-detail {
        width: 70vw;
    }
}