.contenedor-itemlist{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.titulo-productos{
    margin: 0;
    height: 100%;
    background-color: #f69e51;
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4.5rem;
    font-weight: 600;
}
.categorias{
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    margin-bottom: 4rem;
}
.listas-categorias{
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 3.3rem;
    font-weight: 400;
}
.listas-categorias:hover{
    color: #D98B48;
    transform: translateX(.5px);
    transition: all .5s ease;
}

/*CEL*/
@media screen and (max-width: 361px) {
    .titulo-productos {
        padding-top: .7rem;
        padding-bottom: .7rem;
        font-size: 2.4rem;
    }
    .categorias {
        gap: 1rem;
        margin-bottom: 2.3rem;
    }
    .listas-categorias {
        font-size: 2.1rem;
    }
}

/*SMART*/
@media screen and (max-width: 450px) and (min-width: 361px) {
    .titulo-productos {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 2.5rem;
    }
    .categorias {
        gap: 2.5rem;
        margin-bottom: 2.7rem;
    }
    .listas-categorias {
        font-size: 2.3rem;
    }
}

/*TABLET*/
@media screen and (max-width: 687px) and (min-width: 450px) {
    .titulo-productos {
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        font-size: 3.3rem;
    }
    .categorias {
        gap: 3rem;
        margin-bottom: 3rem;
    }
    .listas-categorias {
        font-size: 2.7rem;
    }
}

/*TABLET XL*/
@media screen and (min-width: 687px) and (max-width: 900px) {
    .titulo-productos {
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 3.7rem;
    }
    .categorias {
        gap: 3.7rem;
        margin-bottom: 3.7rem;
    }
    .listas-categorias {
        font-size: 3.1rem;
    }
}

/*DESKTOP*/
@media screen and (min-width: 900px) and (max-width: 1110px) {
    .titulo-productos {
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 4.3rem;
    }
    .categorias {
        gap: 3.7rem;
        margin-bottom: 3.7rem;
    }
    .listas-categorias {
        font-size: 3.1rem;
    }
}

/* WIDE */
@media screen and (min-width: 1110px) and (max-width: 1350px) {
    .titulo-productos {
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 4.3rem;
    }
    .categorias {
        gap: 3.7rem;
        margin-bottom: 3.7rem;
    }
    .listas-categorias {
        font-size: 3.1rem;
    }
}