.numero-cantidades {
    font-size: 3rem;
    margin: auto;
}
.boton-detalles {
    color: black;
    text-align: center;
    font-size: 3.3rem;
    font-weight: 400;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid white;
    background-color: #D98B48;
    cursor: pointer;
    margin-top: 1rem;
    text-decoration: none;
}
.boton-detalles:hover {
    color: black;
    transition: all .5s ease;
    background-color: #f69e51;
}
.producto{
    margin: auto;
    display: flex;
    width: 40vw;
    flex-direction: column;
    margin-bottom: 1rem;
}
.datos-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-detail {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
}
.detalles-item {
    padding: 1rem;
    grid-column: 2/5;
    grid-row: 2/5;
    text-align: center;
    z-index: 1;
    font-size: 3rem;
    font-weight: 400;
    margin: auto;
    color: white;
    opacity: 0;
}
.detalles-item:hover {
    z-index: 2;
    opacity: 1;
    transition: opacity 1s ease;
}
.imagen-producto{
    grid-column: 1/6;
    grid-row: 1/6;
    cursor: pointer;
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: .6rem;
}
.imagen-producto:hover{
    transition: transform .6s ease;
    transform: scale(1.01);
}
.nombre-producto{
    font-size: 3.5rem;
    font-weight: 500;
    margin: auto;
}

/*CEL*/
@media screen and (max-width: 361px) {
    .numero-cantidades {
        font-size: 2.3rem;
    }
    .detalles-item{
        display: none;
    }
    .boton-detalles {
        font-size: 1.8rem;
        padding: .3rem;
        border-radius: 1rem;
        margin-top: .7rem;
    }
    .producto {
        width: 75vw;
        margin-bottom: 0rem;
    }
    .imagen-producto {
        margin-bottom: .6rem;
    }
    .nombre-producto {
        font-size: 1.7rem;
    }
}

/*SMART*/
@media screen and (max-width: 450px) and (min-width: 361px) {
    .numero-cantidades {
        font-size: 2.3rem;
    }
    .detalles-item {
        display: none;
    }
    .boton-detalles {
        font-size: 2rem;
        padding: .3rem;
        border-radius: 1rem;
        margin-top: .7rem;
    }
    .producto {
        width: 75vw;
        margin-bottom: 0;
    }
    .imagen-producto {
        margin-bottom: .6rem;
    }
    .nombre-producto {
        font-size: 1.7rem;
    }
}

/*TABLET*/
@media screen and (max-width: 687px) and (min-width: 450px) {
    .numero-cantidades {
        font-size: 2.3rem;
    }
    .detalles-item {
        display: none;
    }
    .boton-detalles {
        font-size: 2.4rem;
        padding: .3rem;
        border-radius: 1rem;
        margin-top: .7rem;
    }
    .producto {
        width: 40vw;
        margin-bottom: 0;
    }
    .imagen-producto {
        margin-bottom: .6rem;
    }
    .nombre-producto {
        font-size: 2.2rem;
    }
}

/*TABLET XL*/
@media screen and (min-width: 687px) and (max-width: 900px) {
    .numero-cantidades {
        font-size: 2.5rem;
    }
    .detalles-item {
        display: none;
    }
    .boton-detalles {
        font-size: 2.6rem;
        padding: .7rem;
        border-radius: 1rem;
        margin-top: 1rem;
    }
    .producto {
        width: 40vw;
        margin-bottom: .3rem;
    }
    .imagen-producto {
        margin-bottom: .6rem;
    }
    .nombre-producto {
        font-size: 2.6rem;
    }
}

/*DESKTOP*/
@media screen and (min-width: 900px) and (max-width: 1110px) {
    .numero-cantidades {
        font-size: 2.8rem;
    }
    .detalles-item {
        font-size: 2.1;
    }
    .boton-detalles {
        font-size: 2.9rem;
        padding: 1rem;
        border-radius: 1rem;
        margin-top: 1rem;
    }
    .producto {
        width: 40vw;
        margin-bottom: .7rem;
    }
    .imagen-producto {
        margin-bottom: .6rem;
    }
    .nombre-producto {
        font-size: 3rem;
    }
}

/* WIDE */
@media screen and (min-width: 1110px) and (max-width: 1350px) {
    .numero-cantidades {
        font-size: 2.9rem;
    }
    .detalles-item {
        font-size: 2.3;
    }
    .boton-detalles {
        font-size: 3rem;
        padding: 1rem;
        border-radius: 1rem;
        margin-top: 1rem;
    }
    .producto {
        width: 40vw;
        margin-bottom: 1rem;
    }
    .imagen-producto {
        margin-bottom: .6rem;
    }
    .nombre-producto {
        font-size: 3.5rem;
    }
}