.contenedor-itemlist{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
}
h1{
    margin: 0 auto 0 1.9rem;
    font-size: 3rem;
    font-weight: 600;
}
.contenedor-signos{
    margin: 0 auto 1.5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contenedor-cantidades {
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
}
.productos{
    margin-bottom: 10.5rem;
}
