.cantidades{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.contenedor-numero{
    display: flex;
    align-items: center;
    margin: 0;
}
.numero-cantidades {
    font-size: 3rem;
    margin: auto;
}
.signo-menos {
    cursor: pointer;
    font-weight: 800;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    border: 1px solid black;
    font-size: 2rem;
    margin-right: 2rem;
    text-align: center;
}
.signo-mas {
    cursor: pointer;
    font-weight: 800;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    border: 1px solid black;
    font-size: 2rem;
    margin-left: 2rem;
    text-align: center;
}