.contenedor-nav {
    display: flex;
}
.contenedor-lista {
    display: flex;
    margin: auto 3rem auto 3rem;
    justify-content: space-around;
}
.foto-portada {
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 50%;
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    box-shadow: 1px rgba(0, 0, 0, 9%);
}
.listas {
    cursor: pointer;
    border-radius: 1rem;
    font-size: 2.5rem;
    margin: 0 1rem;
    padding: .5rem;
    color: rgb(65, 39, 65);
    border: 1px solid black;
}