.body-nosotros{
    min-height: 70vh;
}
.titulo-nosotros{
    margin: 0;
    height: 100%;
    background-color: #f69e51;
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4rem;
    font-weight: 500;
}
.contenedor-vid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
}
.vid{
    min-height: 100vh;
    width: 100%;
    object-fit: cover;
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 1;
    filter: brightness(75%);
}
.texto-vid{
    text-align: center;
    padding: 2rem;
    color: white;
    margin: auto;
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 2;
    font-size: 3.5rem;
}

/*CEL*/
@media screen and (max-width: 361px) {
    .titulo-nosotros {
        padding-top: .7rem;
        padding-bottom: .7rem;
        font-size: 2.4rem;
    }
    .texto-vid {
        padding: 1rem;
        font-size: 2.7rem;
    }
}

/*SMART*/
@media screen and (max-width: 450px) and (min-width: 361px) {
    .titulo-nosotros {
        padding-top: .7rem;
        padding-bottom: .7rem;
        font-size: 2.5rem;
    }
    .texto-vid {
        padding: 1.3rem;
        font-size: 2.8rem;
    }
}

/*TABLET*/
@media screen and (max-width: 687px) and (min-width: 450px) {
    .titulo-nosotros {
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        font-size: 3.3rem;
    }
    .texto-vid {
        padding: 1.6rem;
        font-size: 2.8rem;
    }
}

/*TABLET XL*/
@media screen and (min-width: 687px) and (max-width: 900px) {
    .titulo-nosotros {
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 3.3rem;
    }
    .texto-vid {
        padding: 1.7rem;
        font-size: 2.9rem;
    }
}

/*DESKTOP*/
@media screen and (min-width: 900px) and (max-width: 1110px) {
    .titulo-nosotros {
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 4.3rem;
    }
    .texto-vid {
        padding: 1.9rem;
        font-size: 3.1rem;
    }
}

/* WIDE */
@media screen and (min-width: 1110px) and (max-width: 1350px) {
    .titulo-nosotros {
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 4.3rem;
    }
    .texto-vid {
        padding: 2rem;
        font-size: 3.3rem;
    }
}