.body-nosotros{
    min-height: 70vh;
}
.titulo-nosotros{
    margin: 0;
    height: 100%;
    background-color: #f69e51;
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4rem;
    font-weight: 600;
}
.contenedor-vid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
}
.vid{
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 1;
    filter: brightness(90%);
}
.texto-vid{
    padding: 2rem;
    color: white;
    margin: auto;
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 2;
    font-size: 3.5rem;
}